:root {
    --background-color: #1A1A1A;
    --header-color: #0A0A0A;
    --header-font-color: #424242;
    --navbar-color: #1F1F1F;
    --navbar-font-gray: #BDBDBD;
    --navbar-font-white: #fff;
    --navbar-button-color: #C4314B;
    --profile-border: #9EA2FF;
}

.hidden {
    display: none;
}

input,
label {
    cursor: pointer;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--background-color);
    position: absolute;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

header {
    background: var(--header-color);
    height: 5vh;
    position: relative;
    text-align: center;
    position: relative;
    z-index: 20;
}

header * {
    color: var(--header-font-color);

    /* border: 1px solid blue; */
    line-height: 5vh;

}

header h1 {
    text-align: center;
    font-size: .8rem;
    line-height: 5vh;
    margin: auto;
}

body:hover header h1{
    color: white;
    font-size: .9rem;
}

header #window-interactions-icons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
}

header #window-interactions-icons div {
    width: 5vh;
    height: 5vh;
    font-size: 20px;
    line-height: 100%;
    /* height: 20px; */
    vertical-align: middle;
}

header #window-interactions-icons div:hover,
nav .nav-square:hover {
    background: #383838;
}

header #window-interactions-icons div:hover span {
    color: white;
}

nav {
    background: var( --navbar-color);
    height: 8vh;
    position: relative;
    box-shadow: 0px -20px 30px 8px black;

}

nav * {
    color: var(--navbar-font-gray);
}

nav div#nav-support {
    width: 100%;
    /* border: 1px solid red; */
    margin: 1.5vh 2vw;
    z-index: auto;
    display: flex;
    justify-content: space-between;
}

nav div#nav-support * {
    line-height: 5vh;
}

nav section#utilities {
    width: 35vw;
    display: flex;
    justify-content: space-evenly;
}

nav section#utilities #separation {
    font-size: 4vh;
    color: var(--header-font-color);
}

nav section#utilities input[type=checkbox] {   
    display: none;
}

nav .nav-square {
    font-size: 3vh;
    padding: 0 8px;
    /* position: relative; */
    /* border: 1px solid red; */
}

nav .nav-square input:checked {
    border-bottom: 2px purple solid;
}

nav #utilities button {
    color: var(--navbar-font-white);
    font-weight: 500;
    background: var(--navbar-button-color);
    border: none;
    padding: 0 20px;
    line-height: 2vh;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

nav section.utilitiesModal {
    background: #1F1F1F;
    position: absolute;
    margin-left: -8px;

    font-size: 1rem;
    white-space: nowrap;
}

/* chat below */

nav section.chat {
    position: absolute;
    width: 23vw;
    top: 100%;
    right: 0;
    background: #1f1f1f;
    white-space: nowrap;
    font-size: 1rem;
    color: white;


    padding: 20px;
}

nav section.chat .list-title {
    display: flex;
    justify-content: space-between;
}

nav section.chat #chat-bar {
    margin: 10px;
}

nav section.chat #chat-bar .message {
    flex-wrap: wrap;
    flex-direction: column;
    background:#323348;
    margin: 5px 0;
    border-radius: 4px 4px 0 4px;
    -webkit-border-radius: 4px 4px 0 4px;
    -moz-border-radius: 4px 4px 0 4px;
    -ms-border-radius: 4px 4px 0 4px;
    -o-border-radius: 4px 4px 0 4px;
    text-align: end;
    /*border: 1px solid red;*/

    padding-right: 10px;
}

nav section.chat label {
    float: right;
}

nav section.chat #chat-bar time {
    color: #62636F;
    font-size: 13px;
}

nav section.chat input[type=text] {
    width: 90%;
    
    border: 1px solid black;
    background: #292929;

    margin: 10px;
    padding: 5px 0 5px 15px;
    position: relative;
}

nav section.chat input[type=text]:focus {
    width: 100px;
}

nav section.chat .other-functions-chat {
    display: flex;
    justify-content: space-around;
}

nav section.chat input[type=button] {
    display: none;
}

/* options below */
nav section.options {
    background: #292929;
    position: absolute;
    margin-left: -8px;
    z-index: -5;

    font-size: 1rem;
    white-space: nowrap;
}

/* participantsList below */

nav section.listParticipants {
    width: 300px;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 30px 20px 20px 20px;
    
    height: 500px;
    overflow-y: scroll;
}

nav section.listParticipants * {
    color: white;
}

nav section.listParticipants div.participants-inviteBar {
    background: #292929;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    box-sizing: border-box;

    margin-bottom: 20px;

}

nav section.listParticipants input[name="shareMeeting"] {
    background: #292929;
    width: 90%;
    border: none;
}

nav section.listParticipants input[type="button"] {
    background: #292929;
    border: 1px solid white;
    width: 100%;
}

nav section.listParticipants #participants-section {
    margin: 20px 5px 5px 5px;
}

nav section.listParticipants #participants-section #participants-top {
    display: flex;
    justify-content: space-between;
}

nav section.listParticipants #participants-section #participants-top button {
    padding: 0 5px;
    line-height: 1vh;
    background: #292929;
    border: 1px solid white;
}

nav section.listParticipants #participants-section ul li{
    list-style-type: none;
    margin: 10px 0;
    display: flex;
    align-items: center;
    position: relative;
}

nav section.listParticipants #participants-section ul li *{
    line-height: 3vh;
}

nav section.listParticipants #participants-section ul li:hover {
    box-shadow: 0px 0px 0px 1px white;
}

nav section.listParticipants #participants-section ul li span {
    position: absolute;
    right: 20px;
}

nav section.listParticipants #participants-section li {
    display: flex;
}

nav section.listParticipants #participants-section img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #797979; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white; 
}

/* interactions section below */

nav .nav-square:hover section.utilitiesModal.interactions {
    display: block;
}

nav section.utilitiesModal.interactions {
    padding: 5px;
}

nav section.utilitiesModal.interactions label {
    padding: 0 3px;
}

/* options section below */

nav section.options ul {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

nav section.options ul li{
    list-style-type: none;
}

nav section.options ul li:hover {
    border: 1px solid white;
}

nav section.options ul li span {
    line-height: 3vh;
    margin: 0 5px;
}

/* options above */
/* main section below */

main {
    width: 100%;
    height: calc(100%-8vh-5vh);
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
    position: relative;
    z-index: -10;
}

main div.profile {
    /* border: 1px solid black; */
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main div.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    margin-bottom: 20px;
}

main div.profile .profile-info * {
    margin: 4px;
}

main div.profile .profile-info span.info {
    display: none;
}

main div.profile:hover .profile-info span.info {
    display: inline;
}

.personSpeaking {
    box-shadow: 0 0 0px 5px var(--background-color), 0 0 0px 8px var(--profile-border), 0 0 120px -50px white;

}

.checkedElement {
    border-bottom: 2px  var(--profile-border) solid;
}


.background-modal {
    background: #1F1F1F;

    position: absolute;
    z-index: 18;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#enterMeeting-modal {
    width: 950px;
    height: 415px;
    position: absolute;
    top: 150px;
    bottom: 100px;
    right: 15%;
}

#enterMeeting-modal * {
    color: #A9A697;
}

#enterMeeting-modal h2,
#enterMeeting-modal h3 {
    color: white;
}

#enterMeeting-modal h2 {
    font-weight: 600;
    text-align: center;
    margin: 0 0 40px 0;
    font-size: 18px; 
}

#enterMeeting-modal .container {
    justify-content: space-between;
    height: 350px;
}

#enterMeeting-modal .container .startCamera > *,
#enterMeeting-modal .container .otherOptions > * {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background: #242424;
}

#enterMeeting-modal .container > div > :first-child {
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
}

#enterMeeting-modal .container > div > * {
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    -webkit-border-radius: none;
}

#enterMeeting-modal .container > div > :last-child {
    border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -ms-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
}

#enterMeeting-modal .container .startCamera {
    width: 482px;
    height: 350px;
}

#enterMeeting-modal .container .startCamera .showCamera {
    height: 80%;
    text-align: center;
}

#enterMeeting-modal .container .startCamera .showCamera p {
    position: relative;
    top: 50%;
}

#enterMeeting-modal .container .startCamera .cameraOptions {
    display: flex;
    height: 20%;
    width: 482px;
    align-items: center;
    position: relative;
}

#enterMeeting-modal .container .startCamera .showCamera p,
.container .startCamera .cameraOptions *:not(label *) {
    margin: 7px;
}

#enterMeeting-modal .container .startCamera .cameraOptions > p:nth-child(2) {
    color: #383737;
}

#enterMeeting-modal .container .startCamera .cameraOptions > p:nth-child(3) {
    position: absolute;
    right: 20px;
}

#enterMeeting-modal .container .otherOptions {
    width: 45%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#enterMeeting-modal .container .otherOptions section .otherOptions-top {
    padding: 15px;
    display: flex;
    align-items: center;
}

#enterMeeting-modal .container .otherOptions section .otherOptions-top h3 {
    font-size: 0.8rem;
    margin-left: 20px;
}

#enterMeeting-modal .container .otherOptions section .otherOptions-top input {
    position: absolute;
    right: 30px;
    color: green;
}

#enterMeeting-modal .container .otherOptions section .otherOptions-config {
    border: 1px solid black;
}

#enterMeeting-modal .container .otherOptions section .otherOptions-config > *:not(hr) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/* used for reference https://css-tricks.com/examples/hrs/ */
#enterMeeting-modal .container .otherOptions section .otherOptions-config hr {
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #4D4D44, rgba(0, 0, 0, 0));
    border: 0;
}

#enterMeeting-modal .container .otherOptions section .otherOptions-config div div p {
    margin-right: 10px;
}

#enterMeeting-modal .container .otherOptions section .otherOptions-config input[type=range] {
    width: 250px;
}

#enterMeeting-modal .enterMeeting-buttons {
    position: absolute;
    right: 0;
    bottom: -50px;
}

#enterMeeting-modal .enterMeeting-buttons button {
    padding: 9px 15px;
    font-size: .95rem;
    color: white;
    font-weight: 500;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

#enterMeeting-modal .enterMeeting-buttons button#buttonCancel {
    background: #1F1F1F;
    border: 1px solid #4D4D44;
    margin-right: 5px;
    cursor: pointer;
}

#enterMeeting-modal .enterMeeting-buttons button#buttonCancel:hover {
    border: 1px solid #525248;
    background: #252525;
}

#enterMeeting-modal .enterMeeting-buttons button#buttonEnter {
    background: #6264A7;
    border: none;
}

#enterMeeting-modal .enterMeeting-buttons button#buttonEnter:hover {
    background: #525497;
    transition: background .3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
}

/* for range input*/
/* Copied from https://www.w3schools.com/howto/howto_js_rangeslider.asp with few adaptations */

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #ADADAD;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  
  input[type=range]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
  }




.flex-column {
    display: flex;
    align-items: center;
}

/* for switch toggle*/
/* Copied from https://www.w3schools.com/howto/howto_css_switch.asp with few adaptations */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 41px;
    height: 21px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    display: none;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #242424;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid white;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: #242424;
    border: 1px solid white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6264A7;
  }

  input:checked + .slider:before {
    background-color: #242424;
    border: 1px solid  transparent;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #242424;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
}
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}
  
  .slider.round:before {
    border-radius: 50%;
  }