:root {
    --background-color: #1A1A1A;
    --header-color: #0A0A0A;
    --header-font-color: #424242;
    --navbar-color: #1F1F1F;
    --navbar-font-gray: #BDBDBD;
    --navbar-font-white: #fff;
    --navbar-button-color: #C4314B;
    --profile-border: #9EA2FF;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

header {
    background: var(--header-color);
    height: 5vh;
    position: relative;
    text-align: center;
}

header * {
    color: var(--header-font-color);

    /* border: 1px solid blue; */
    line-height: 5vh;

}

header h1 {
    text-align: center;
    font-size: .8rem;
    line-height: 5vh;
    margin: auto;
}

header #window-interactions-icons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
}

header #window-interactions-icons div {
    width: 5vh;
    height: 5vh;
    font-size: 20px;
    line-height: 100%;
    /* height: 20px; */
    vertical-align: middle;
}

header #window-interactions-icons div:hover,
nav .nav-square:hover {
    background: #383838;
}

header #window-interactions-icons div:hover span {
    color: white;
}

nav {
    background: var( --navbar-color);
    height: 8vh;
}

nav * {
    color: var(--navbar-font-gray);
}

nav div#nav-support {
    width: 100%;
    /* border: 1px solid red; */
    margin: 1.5vh 2vw;

    display: flex;
    justify-content: space-between;
}

nav div#nav-support * {
    line-height: 5vh;
}

nav section#utilities {
    width: 35vw;
    display: flex;
    justify-content: space-evenly;
}

nav section#utilities #separation {
    font-size: 4vh;
    color: var(--header-font-color);
}

nav .nav-square {
    font-size: 3vh;
    padding: 0 8px;
    /* border: 1px solid red; */
}

nav #utilities button {
    color: var(--navbar-font-white);
    font-weight: 500;
    background: var(--navbar-button-color);
    border: none;
    padding: 0 20px;
    line-height: 2vh;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

main {
    width: 100%;
    height: calc(100%-8vh-5vh);
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

main div#profile {
    /* border: 1px solid black; */
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main div#profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    margin-bottom: 20px;
}

main div#profile img:hover {
    box-shadow: 0 0 0px 5px var(--background-color), 0 0 0px 8px var(--profile-border), 0 0 120px -50px white
}